In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
test_dt = pd.read_parquet('/mnt/iusers01/fatpou01/compsci01/k09562zs/scratch/Face_data/Face/NoXI/002_2016-03-17_Paris/Expert_video/1.parquet')

In [ ]:
len

In [10]:
test_dt.iloc[:,list(range(137,155))]

,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,AU07_r,AU09_r,AU10_r,AU12_r,AU14_r,AU15_r,AU17_r,AU20_r,AU23_r,AU25_r,AU26_r,AU45_r,pose_Tx
0,0.0,0.08,0.00,0.68,0.0,0.03,0.77,0.0,0.0,0.00,1.01,0.59,0.00,0.06,0.00,0.00,0.18,-6.4
1,0.0,0.25,0.10,0.71,0.0,0.00,0.85,0.0,0.0,0.00,1.00,0.96,0.00,0.00,0.00,0.05,0.25,-5.0
2,0.0,0.20,0.22,0.56,0.0,0.00,0.91,0.0,0.0,0.00,1.08,1.04,0.00,0.00,0.00,0.00,0.28,-5.6
3,0.0,0.31,0.12,0.66,0.0,0.09,0.86,0.0,0.0,0.00,0.97,0.89,0.00,0.00,0.00,0.35,0.36,-4.5
4,0.0,0.40,0.33,0.50,0.0,0.17,0.80,0.0,0.0,0.00,1.00,0.83,0.00,0.00,0.00,0.20,0.39,-4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,0.0,0.40,0.00,1.42,0.0,0.00,0.59,0.0,0.0,0.80,0.91,0.49,1.85,0.53,0.36,0.00,0.74,-6.5
747,0.0,0.35,0.00,1.81,0.0,0.02,0.54,0.0,0.0,0.74,0.98,0.52,1.73,0.56,0.32,0.00,0.77,-8.0
748,0.0,0.58,0.00,1.79,0.0,0.00,0.51,0.0,0.0,0.33,0.90,0.62,1.55,0.62,0.48,0.00,0.71,-7.7
749,0.0,0.47,0.00,1.43,0.0,0.00,0.61,0.0,0.0,0.57,0.88,0.52,1.77,0.60,0.43,0.00,0.74,-7.6
750,0.0,0.44,0.00,1.63,0.0,0.00,0.77,0.0,0.0,0.21,0.89,0.56,1.27,0.51,0.36,0.00,0.72,-7.6

In [27]:
test_dt.describe()

,frame,x_0,x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8,...,AU26_r,AU45_r,pose_Tx,pose_Ty,pose_Tz,pose_Rx,pose_Ry,pose_Rz,gaze_angle_x,gaze_angle_y
count,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,...,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000
mean,376.000000,51.874699,51.392010,52.204395,54.356327,59.524235,69.392677,81.860985,97.638756,114.821709,...,0.029321,0.773276,-7.071371,8.688949,246.253510,0.224037,-0.125742,0.101001,0.091289,0.380269
std,216.938522,4.151703,4.135189,4.163506,4.179538,4.037737,3.622615,2.993454,2.491978,2.336988,...,0.108094,0.268547,1.616768,1.677204,4.270422,0.066235,0.035936,0.017161,0.037418,0.056109
min,1.000000,37.000000,37.299999,38.000000,40.000000,45.700001,58.000000,74.099998,91.400002,108.400002,...,0.000000,0.000000,-13.000000,1.400000,229.500000,0.068000,-0.241000,0.056000,-0.030000,0.200000
25%,188.500000,50.299999,49.700001,50.400002,52.400002,57.500000,67.300003,80.000000,96.000000,113.199997,...,0.000000,0.610000,-7.800000,8.100000,244.399994,0.177000,-0.145000,0.091000,0.070500,0.351000
50%,376.000000,52.200001,51.599998,52.299999,54.400002,59.500000,69.300003,81.699997,97.500000,114.699997,...,0.000000,0.720000,-7.000000,8.900000,246.500000,0.217000,-0.131000,0.098000,0.093000,0.377000
75%,563.500000,54.200001,53.799999,54.700001,56.799999,61.799999,71.500000,83.699997,99.300003,116.400002,...,0.000000,0.900000,-6.100000,9.700000,248.699997,0.256500,-0.105000,0.111000,0.114000,0.410000
max,751.000000,62.599998,62.400002,63.700001,66.500000,72.000000,81.400002,92.599998,106.500000,122.599998,...,0.870000,1.790000,-2.300000,13.200000,257.100006,0.463000,-0.015000,0.146000,0.197000,0.560000

In [4]:
len(list(range(137, 154))  )

17