In [19]:
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
test_dt = pd.read_parquet('/mnt/iusers01/fatpou01/compsci01/k09562zs/scratch/Face_data/Face/NoXI/002_2016-03-17_Paris/Expert_video/1.parquet')

In [34]:
landmark_cols = list(range(157, 160)) 
test_dt.iloc[:, landmark_cols]

     pose_Rx  pose_Ry  pose_Rz
0      0.109   -0.114    0.069
1      0.085   -0.100    0.070
2      0.072   -0.099    0.069
3      0.071   -0.090    0.069
4      0.072   -0.088    0.069
..       ...      ...      ...
746    0.235   -0.120    0.120
747    0.248   -0.124    0.120
748    0.257   -0.123    0.119
749    0.255   -0.125    0.118
750    0.244   -0.123    0.116

[751 rows x 3 columns]

In [26]:
test_dt

,frame,x_0,x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8,...,AU26_r,AU45_r,pose_Tx,pose_Ty,pose_Tz,pose_Rx,pose_Ry,pose_Rz,gaze_angle_x,gaze_angle_y
0,1.0,52.400002,52.299999,53.700001,56.599998,62.500000,72.699997,85.699997,101.400002,118.500000,...,0.00,0.18,-6.4,11.1,248.199997,0.109,-0.114,0.069,0.115,0.314
1,2.0,54.500000,54.400002,55.900002,58.799999,64.199997,74.000000,86.699997,102.400002,119.699997,...,0.05,0.25,-5.0,10.6,248.000000,0.085,-0.100,0.070,0.109,0.318
2,3.0,55.599998,55.599998,57.200001,60.099998,65.599998,75.199997,87.400002,102.400002,119.000000,...,0.00,0.28,-5.6,11.4,253.000000,0.072,-0.099,0.069,0.099,0.316
3,4.0,57.099998,57.000000,58.500000,61.500000,67.000000,76.500000,88.500000,103.300003,119.699997,...,0.35,0.36,-4.5,12.2,252.800003,0.071,-0.090,0.069,0.096,0.326
4,5.0,57.099998,56.900002,58.400002,61.400002,66.900002,76.400002,88.199997,102.900002,119.300003,...,0.20,0.39,-4.7,11.7,252.000000,0.072,-0.088,0.069,0.088,0.320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,747.0,52.500000,51.799999,52.400002,54.200001,59.000000,68.500000,80.599998,96.400002,113.500000,...,0.00,0.74,-6.5,8.4,243.800003,0.235,-0.120,0.120,0.034,0.313
747,748.0,50.799999,50.099998,50.900002,52.799999,57.900002,67.699997,79.900002,95.599998,112.500000,...,0.00,0.77,-8.0,8.0,244.500000,0.248,-0.124,0.120,0.023,0.313
748,749.0,51.900002,51.299999,52.099998,54.200001,59.200001,68.900002,80.800003,96.199997,112.900002,...,0.00,0.71,-7.7,8.5,246.000000,0.257,-0.123,0.119,0.051,0.298
749,750.0,51.299999,50.700001,51.500000,53.599998,58.700001,68.400002,80.400002,95.800003,112.599998,...,0.00,0.74,-7.6,8.2,244.100006,0.255,-0.125,0.118,0.037,0.294
750,751.0,50.400002,49.799999,50.700001,52.799999,58.000000,67.800003,80.000000,95.599998,112.500000,...,0.00,0.72,-7.6,7.9,241.199997,0.244,-0.123,0.116,0.064,0.306

In [27]:
test_dt.describe()

,frame,x_0,x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8,...,AU26_r,AU45_r,pose_Tx,pose_Ty,pose_Tz,pose_Rx,pose_Ry,pose_Rz,gaze_angle_x,gaze_angle_y
count,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,...,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000
mean,376.000000,51.874699,51.392010,52.204395,54.356327,59.524235,69.392677,81.860985,97.638756,114.821709,...,0.029321,0.773276,-7.071371,8.688949,246.253510,0.224037,-0.125742,0.101001,0.091289,0.380269
std,216.938522,4.151703,4.135189,4.163506,4.179538,4.037737,3.622615,2.993454,2.491978,2.336988,...,0.108094,0.268547,1.616768,1.677204,4.270422,0.066235,0.035936,0.017161,0.037418,0.056109
min,1.000000,37.000000,37.299999,38.000000,40.000000,45.700001,58.000000,74.099998,91.400002,108.400002,...,0.000000,0.000000,-13.000000,1.400000,229.500000,0.068000,-0.241000,0.056000,-0.030000,0.200000
25%,188.500000,50.299999,49.700001,50.400002,52.400002,57.500000,67.300003,80.000000,96.000000,113.199997,...,0.000000,0.610000,-7.800000,8.100000,244.399994,0.177000,-0.145000,0.091000,0.070500,0.351000
50%,376.000000,52.200001,51.599998,52.299999,54.400002,59.500000,69.300003,81.699997,97.500000,114.699997,...,0.000000,0.720000,-7.000000,8.900000,246.500000,0.217000,-0.131000,0.098000,0.093000,0.377000
75%,563.500000,54.200001,53.799999,54.700001,56.799999,61.799999,71.500000,83.699997,99.300003,116.400002,...,0.000000,0.900000,-6.100000,9.700000,248.699997,0.256500,-0.105000,0.111000,0.114000,0.410000
max,751.000000,62.599998,62.400002,63.700001,66.500000,72.000000,81.400002,92.599998,106.500000,122.599998,...,0.870000,1.790000,-2.300000,13.200000,257.100006,0.463000,-0.015000,0.146000,0.197000,0.560000